@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply block mb-2 transition px-3 py-2 text-white rounded-lg;
  }

  .btn-icon {
    @apply p-1 rounded-full transition outline-none hover:bg-slate-200;
  }

  .btn-primary {
    @apply px-4 py-2 shadow rounded-lg border bg-slate-500 text-center text-white transition outline-none hover:bg-slate-600 disabled:bg-slate-300 cursor-pointer;
  }

  .form-input {
    @apply px-4 py-2 shadow rounded-lg border bg-slate-100 w-full outline-none transition-[outline] focus:outline-2 focus:outline-slate-500 placeholder:capitalize;
  }
  
  .card {
    @apply px-3 py-1 rounded-lg shadow bg-white transition hover:shadow-md hover:-translate-y-0.5 cursor-pointer;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-color: hsla(0, 0%, 0%, 0.5);
    background-clip: padding-box;
    border-radius: 12px;
  }
}